Origin: XBian
Package: xbian-package-samba
Version: 20210910-0
Section: net
Priority: optional
Architecture: armhf
Pre-Depends: openbsd-inetd
Depends: samba, samba-common-bin
Replaces: xbian-package-networkfs
Conflicts: xbian-package-networkfs
Maintainer: <development@xbian.org>
Description: Windows <--> linux filesharing 20210910-0
